<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Categories</title>
</head>
    <body>
        <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
            <a href="{% url 'home' %}">Main Page</a>
                </li><li>
            <a href="{% url 'create_receipt' %}">Add New Receipt</a>
                </li><li>
            <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
            <a href="{% url 'signup' %}">Sign Up</a>
                </li><li>
            <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
   <main>
     <h1>
        Expense Categories
    </h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of Receipts</th>
        </tr>
    </thead>
        <tbody>
            {% for receipt in category_list.all %}
            <tr>
            <td>{{ receipt.name }}</td>
            <td>{{ receipt.receipts.all | length }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>
</main>
</body>
</html>
